@import "reset.css";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
h1, a, p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}
.logo {
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-align: center;
    color: #000000;
    align-items: flex-start;
    margin-top: 63px;
    margin-bottom: 40px;
}
h1 span{
    color: #4BCAFF;
}
.menu {
    height: 69px;
    display: flex;
    background: #35444F;
    justify-content: center;
    align-items: center;
}
.menu-item{
    display: block;
    height: 69px;
    border-left: 1px solid #FFFFFF;
}
ul:last-child{
    border-right: 1px solid #FFFFFF;
}
.menu-item:hover {
    background: #222F3A;
}
.menu-list{
    display: flex;
}
.menu-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 24px 32px 0px 32px;
}
.page {
    display: flex;
}
aside {
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 49px;
}
.left-menu-item {
    height: 80px;
    display: block;
}
.left-menu-link {
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #495863;
    padding-top: 26px;
    padding-left: 44px;
}
.left-menu-item:hover {
    background: #DBDBDB;
    padding-left: 15px;
}
.left-menu-item:hover:last-child{
    border-bottom: 1px solid #000000;
}
.left-menu-link:hover {
    color: #35444F;
}
.right-photo {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 49px;
    margin-left: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img:hover {
    transition: 1.5s;
    transform: scale(1.2);
    overflow: hidden;
    display: block;
}
.right-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    flex-basis: 100%;
    margin-top: 37px;
    margin-left: 396px;
}
#second-paragraph {
    margin-top: 34px;
    margin-bottom: 54px;
}
.footer {
    height: 69px;
    display: block;
    margin-bottom: 30px;

}
.footer-menu {
    height: 69px;
    display: flex;
    background: rgba(99, 105, 110, 0.48);

}
.footer-menu-list{
    display: flex;
    align-items: center;
}
.footer-menu-link {
    font-size: 28px;
    line-height: 28px;
    display: flex;
    color: #0C1927;
    margin-left: 40px;
}
.footer-menu-link:hover {
    color: #3181A6;
    padding-bottom: 13px;
    border-bottom: 1px solid #3181A6;
    /*text-decoration: underline #3181A6;*/
}
.text-after-menu {
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #010101;
    margin-left: 135px;
}